<%- include html/header %>

	<nav>
		<span><a title="home" href="/">home</a></span>
		<span><a title="login" href="/login">login</a></span>
		<span><a title="register" href="/register">register</a></span>
	</nav>
	<h2>Hello, <%= name %></h2>

<%- include html/footer %>