<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
	<% include html/head %>
</head>
<body>
	<header>
		<% include html/header %>
	</header>

	<div class="content">
		<h2>Hello, <%= name %></h2>
	</div>

	<footer>
		<% include html/footer %>
	</footer>
</body>

<script type="text/javascript">
	console.log("in home page");
</script>
	
	

